.rectangle {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 200px;
    margin-top: 30px;
}

.centerRec {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.rectangleBurnDetection {
    display: grid;
    width: 50%;
    height: 200px;
    margin-top: 30px;
}

/* background color */
.bgTemperature {
    border: 1px solid #8EA5B4;
    border-radius: 10px;
    background-color: #8EA5B4;
}
.bgBrightness {
    border: 1px solid #F0F9FF;
    border-radius: 10px;
    background-color: #F0F9FF;
}
.bgHumidityLow {
    border: 1px solid #BCD5AC;
    border-radius: 10px;
    background-color: #BCD5AC;
}
.bgHumidityHigh {
    border: 1px solid #59CC0E;
    border-radius: 10px;
    background-color: #59CC0E;
}
.bgWarningBurn {
    border: 1px solid #EFE9FF;
    border-radius: 10px;
    background-color: #EFE9FF;
}
.bgRealizePerson {
    border: 1px solid #C8B4FF;
    border-radius: 10px;
    background-color: #C8B4FF;
}